<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186830468854-3aefrhottgf85sut2uppc5bdjfhjphkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186830468854-3aefrhottgf85sut2uppc5bdjfhjphkg</string>
	<key>API_KEY</key>
	<string>AIzaSyAJUy_0vPrRzWCnJO5YOgMHaF78iTQn8oE</string>
	<key>GCM_SENDER_ID</key>
	<string>186830468854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sohamnagawanshi.AirPlane</string>
	<key>PROJECT_ID</key>
	<string>airplane-87636</string>
	<key>STORAGE_BUCKET</key>
	<string>airplane-87636.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186830468854:ios:83b97e863fb5563feb1ed7</string>
</dict>
</plist>